body {
    margin: 0;
    padding: 0;
    line-height: 1.5;
    background-color: white;
    overflow-x: hidden;

}

a {
    text-decoration: none;

}
.left-navbar a{
    color:white;
}
.container {
    margin: auto;
    overflow: hidden;
    width: 80%;
  
    width: 100vw;
    min-height: 300px;



}

ul {
    list-style-type: none;
}

header {
    background-color: #e8491d;

    width: 100vw;
    min-height: 70px;





}



.left-navbar {
    float: left;
    margin-left: 10px
}

.right-navbar {
    float: right;
    margin: 0;
    padding: 0;
    margin-right: 20px;

}

.left-navbar h3 {
    color: white;
    margin-left: 10px;
}

ul.navbar-link {

    list-style-type: none;
    padding: 0;
    display: none;
}

.navbar-link li {

    display: inline;
    padding: 0 10px 0 10px;


}

.navbar-link a {
    color: white;
    font-size: 19px;

}

.navbar-link a:hover {
    color: #e8491d;
    background-color: white;
    padding: 5px;
}




.icon{
margin-right:10px;
}
span.icon-bar {
    background-color: white;
    width: 46px;
    height: 5px;
    margin-bottom: 5px;
    position: relative;
    display: block;
    cursor: pointer;
}
.nav-container{
    background-color:rgba(0, 0, 0, 0.7);
    color:white;
  display:none;
    padding:0;
  
}
.nav-list{
  
    margin:0;

}
.navbar-list {
   
   
    padding-left:0;
  padding-top:0;
  padding-bottom:0;
  margin:0;

}
.navbar-list li{
  
    padding:9px 0;;
    border:1px solid #e8491d;
    border-left:0;
    border-right:0;

}
.navbar-list a{
    color:white;
    font-size:20px;
    margin-left:30px;
    font-weight: 400;
    line-height: 1.5;
}
 .open{

display:block;


}
.navbar-list a:hover{
    color: #e8491d;
}
.open{

    display:block;
    
    
    }

.form-container{
  width:100%;
  margin: 100px 0px;
  margin-right:7px;
    border-bottom:1px solid rgba(0,0,0,0.3);
    overflow:none;
}
.form-container form{
padding:0;}

.label-wrap:last-child{

margin-left:-45%;
}


.form-control{

margin:20px;
      text-transform:capitalize;
      font-size:20px;
    
    

}
.login-title{

color:rgba(0,0,0,0.8);
border-bottom:1px solid rgba(0,0,0,0.3);



}
.form-control input[type="text"],input[type="password"],input[type="checkbox"]{
  width:100%;
  padding:10px;
  border-radius:5px;
  text-align:left;
  border:1px solid rgba(0,0,0,0.5);



}
.login-title h3{
padding:10px;
margin:0;
text-align:center;
}
input[type="checkbox"]{
     margin-left:20px;
    width:5%;
}

.form-control input[type="submit"]{
  background-color:green;
  padding:10px;
  width:100%;
  color:white;
  border:none;
 
      border-radius:5px;
      font-size:18px;
    
}
.login-title{
text-align:center;
}


  

  



footer {
    text-align: center;
    background-color: rgb(92, 102, 112);
    margin-top: 10px;
    padding: 10px;
    font-size: 17px;
    line-height: 1.5;
    color: white;
}

@media screen and (min-width:768px) {

ul.navbar-link {

        list-style-type: none;
        padding: 0;
        display: none;
    }

    .icon {
        display: block;
    }

  
.form-container{
  width:50%;
  margin: 100px auto;
    border:1px solid rgba(0,0,0,0.3);
}



.form-control{

margin:20px;
      text-transform:capitalize;
      font-size:20px;
    
    

}
label-wrap{
text-align:left;}
.login-title{

color:rgba(0,0,0,0.8);
border-bottom:1px solid rgba(0,0,0,0.3);



}
.form-control input[type="text"],input[type="password"],input[type="checkbox"]{
  width:100%;
  padding:10px;
  border-radius:5px;
  text-align:left;
  border:1px solid rgba(0,0,0,0.5);



}
.login-title h3{
padding:10px;
margin:0;
text-align:center;
}
input[type="checkbox"]{
    
    width:5%;
}

.form-control input[type="submit"]{
  background-color:green;
  padding:10px;
  width:100%;
  color:white;
  border:none;
 
      border-radius:5px;
      font-size:18px;
    
}
.login-title{
text-align:center;
}


  

  



}

@media screen and (min-width:990px) {
    ul.navbar-link {

        list-style-type: none;
        padding: 0;
        display: block;
    }

    .icon {
        display: none;
    }

  
.form-container{
  width:50%;
  margin: 100px auto;
    border:1px solid rgba(0,0,0,0.3);
}




.login-title{

color:rgba(0,0,0,0.8);
border-bottom:1px solid rgba(0,0,0,0.3);



}
.form-control input[type="text"],input[type="password"],input[type="checkbox"]{
  width:69%;
  padding:10px;
  border-radius:5px;
  text-align:left;
  border:1px solid rgba(0,0,0,0.5);



}
.login-title h3{
padding:10px;
margin:0;
text-align:center;
}
input[type="checkbox"]{
     margin-left:25%;
    width:5%;
}

.form-control input[type="submit"]{
  background-color:green;
  padding:10px;
  width:90%;
  color:white;
  border:none;
 
      border-radius:5px;
      font-size:18px;
    
}
.login-title{
text-align:center;

}
.login-title h3{
    font-size:30px;
}


  

    .form-control{
      
        margin-left:80px;
      
        }
        .form-control input[type="text"],input[type="password"]{
            width:90%;
          
          
          
          
          }

    
            

 


}

